################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################



/.vs/slnx.sqlite
/.vs/Rockstars-FHICT/v17/.suo
/.vs/Rockstars-FHICT/v16/.suo
