@model RockstarsIT.Models.Rockstar

@{
    ViewData["Title"] = "Edit";
}

<h1>ROCKSTAR BEWERKEN</h1>

<hr />
@*<div class="row">
    <div class="col-md-4">*@
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RockstarId" />
            <div class="row g-3">
                <div class="col-md-6 mb-3">
                    <label>Profiel foto</label>
                    <div class="custom-file">
                        <input asp-for="ImageFile" class="custom-file-input" id="postedFile">
                        <label asp-for="ImageFile" class="custom-file-label" for="customFileLangHTML" data-browse="Bestand kiezen"></label>
                    </div>
                    <span asp-validation-for="ImageFile" class="text-danger"></span>
                </div>
                <div class="col-md-6 mb-3">
                    <label asp-for="Tribe" class="control-label">Tribe</label>
                    <select asp-for="TribeId" class="form-control" asp-items="ViewBag.TribeNames"></select>
                    <span asp-validation-for="TribeId" class="text-danger"></span>
                </div>
                <div class="col-md-6 mb-3">
                    <label asp-for="Name" class="control-label"></label> <br>
                    <input asp-for="Name" class="textbox w-100" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="col-md-6 mb-3">
                    <label class="control-label">Regio</label>
                    <select asp-for="Chapter" class="form-control" asp-items="Html.GetEnumSelectList<Chapter>()"></select>
                    <span asp-validation-for="Chapter" class="text-danger"></span>
                </div>
                <div class="col-md-6 mb-3">
                    <label asp-for="LinkedIn" class="control-label"></label> <br>
                    <input asp-for="LinkedIn" class="textbox w-100" />
                    <span asp-validation-for="LinkedIn" class="text-danger"></span>
                </div>
                <div class="col-md-6 mb-3">
                    <label class="control-label">Rol</label>
                    <select asp-for="RoleId" class="form-control" asp-items="ViewBag.RoleNames"></select>
                    <span asp-validation-for="RoleId" class="text-danger"></span>
                </div>
                <div class="col-md-6 mb-3">
                    <label class="control-label">Beschrijving</label> <br>
                    <textarea asp-for="Description" class="textarea w-100" rows="5"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="Quote" class="control-label"></label> <br>
                    <input asp-for="Quote" class="textbox w-100" />
                    <span asp-validation-for="Quote" class="text-danger"></span>
                </div>
            </div>    
            <div class="row">
                <div class="col-md-6">
                    <button class="btn button" type="submit">
                        WIJZIGINGEN OPSLAAN
                        <svg class="arrowsSvg" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
                            <path d="M0 0h24v24H0z" fill="none" />
                            <path d="M4 18l8.5-6L4 6v12zm9-12v12l8.5-6L13 6z" />
                        </svg>
                    </button>
                </div>
            </div>
        </form>
@*    </div>
</div>*@
<br>
<div>
    @using (Html.BeginForm(FormMethod.Post))
    {
        <a asp-action="Details" asp-route-id="@Model.RockstarId" class="btn button mr-2">
            DETAILS
            <svg class="arrowsSvg" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
                <path d="M0 0h24v24H0z" fill="none"/>
                <path d="M4 18l8.5-6L4 6v12zm9-12v12l8.5-6L13 6z"/>
            </svg>
        </a>
        <a asp-action="Index" class="btn button-cancel">
            TERUG NAAR OVERZICHT
            <svg class="arrowsSvg-cancel" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
                <path d="M0 0h24v24H0z" fill="none"/>
                <path d="M4 18l8.5-6L4 6v12zm9-12v12l8.5-6L13 6z"/>
            </svg>
        </a>
    }
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
