@model RockstarsIT.Models.Tribe

@{
    ViewData["Title"] = "Create";
}

<h1>Maken</h1>

<h4>Tribe</h4>
<hr />
<div class="row">
    <div class="col-md-9">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <br />
                <input asp-for="Name" class="textbox" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <br />
                <textarea asp-for="Description" class="textarea" rows="10" cols="50"> </textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <button class="button" type="submit">
                TRIBE MAKEN
                <svg class="arrowsSvg" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
                    <path d="M0 0h24v24H0z" fill="none" />
                    <path d="M4 18l8.5-6L4 6v12zm9-12v12l8.5-6L13 6z" />
                </svg>
            </button>
        </form>

        <a asp-action="Index" class="button-cancel">
            TERUG NAAR TRIBE OVERZICHT
            <svg class="arrowsSvg-cancel" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
                <path d="M0 0h24v24H0z" fill="none" />
                <path d="M4 18l8.5-6L4 6v12zm9-12v12l8.5-6L13 6z" />
            </svg>
        </a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
