@model RockstarsIT.Models.Tribe

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Tribe</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Naam:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            Beschrijving:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TribeId">BEWERKEN</a> |
    <a asp-action="Index">TERUG NAAR TRIBE OVERZICHT</a>
</div>
