@model RockstarsIT.Models.Tribe


@{
    ViewData["Title"] = "Edit";
}

<h1  class="mt-3">TRIBE BEWERKEN</h1>

<hr />
<div class="row">
    <form asp-action="Edit" onsubmit="setFormSubmitting()">
        <input type="hidden" asp-for="TribeId" />
        <div class="row g-3">
            <div class="col-md-6 mb-3">
                <label class="control-label" lang="nl">Naam:</label> 
                <label class="control-label" lang="en-uk">Name:</label> 
                <br>
                <input asp-for="Name" class="textbox w-100" rows="5" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="col-md-6 mb-3">
                <label asp-for="Spotify" class="control-label">Spotify Link:</label>
                <br />
                <input asp-for="Spotify" class="textbox w-100" rows="10" cols="50" />
                <span asp-validation-for="Spotify" class="text-danger"></span>
            </div>
            <div class="col-md-6 mb-3">
                <label asp-for="LeadAddress" class="control-label" lang="nl">Tribe Lead Email Adres:</label>
                <label asp-for="LeadAddress" class="control-label" lang="en-uk">Tribe Lead Email Address:</label>
                <br />
                <input asp-for="LeadAddress" class="textbox w-100" rows="10" cols="50" />
                <span asp-validation-for="LeadAddress" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="BlockNumber" class="control-label" lang="nl">Aantal Tekstblokken:</label>
                <label asp-for="BlockNumber" class="control-label" lang="en-uk">Textblock Amount:</label>
                <br />
                <input asp-for="BlockNumber" class="textbox w-100" rows="10" cols="50" />
                <span asp-validation-for="BlockNumber" class="text-danger"></span>
            </div>
            <div class="col-md-6 mb-3">
                <label class="control-label" lang="nl">Beschrijving:</label> 
                <label class="control-label" lang="en-uk">Description:</label> 
                <br>
                <textarea asp-for="Description" class="textarea w-100" rows="5"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="col-md-6 mb-3">
                <label asp-for="ImageNumber" class="control-label" lang="nl">Aantal Afbeeldingen:</label>
                <label asp-for="ImageNumber" class="control-label" lang="en-uk">Image Amount:</label>
                <br />
                <input asp-for="ImageNumber" class="textbox w-100" rows="10" cols="50" />
                <span asp-validation-for="ImageNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                @using (Html.BeginForm(FormMethod.Post))
                {
                    <button class="btn button mr-3" type="submit">
                        WIJZIGINGEN OPSLAAN
                        <img class="ml-2" height="32" width="32" src="~/icons/save-zwart.svg"/>
                    </button>
                    <a onclick="ConfirmDelete(this.name)" href="#" name="@Model.TribeId" class="btn button-cancel">
                        VERWIJDEREN
                        <img class="ml-2" height="32" width="32" src="~/icons/bin-wit.svg"/>
                    </a>
                    <input type="submit" asp-action="Delete" asp-route-id="@Model.TribeId" hidden id="@Model.TribeId"/>
                }
            </div>
        </div>
    </form>
    <div>
        <a asp-action="Index" class="btn button-cancel mt-3">
            TERUG NAAR OVERZICHT
            <svg class="arrowsSvg-cancel" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
                <path d="M0 0h24v24H0z" fill="none" />
                <path d="M4 18l8.5-6L4 6v12zm9-12v12l8.5-6L13 6z" />
            </svg>
        </a>
    </div>
</div>


@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}

<script>
    var formSubmitting = false;
    var setFormSubmitting = function() { formSubmitting = true; };
    
    window.onload = function() {
        window.addEventListener("beforeunload", function (e) {
            if (formSubmitting) {
                return undefined;
            }
    
            var confirmationMessage = 'It looks like you have been editing something. '
                                    + 'If you leave before saving, your changes will be lost.';
    
            (e || window.event).returnValue = confirmationMessage; //Gecko + IE
            return confirmationMessage; //Gecko + Webkit, Safari, Chrome etc.
        });
    };

    function ConfirmDelete(id) {
        const conbtn2 = document.getElementById(id);

        let text = "Weet je zeker dat u deze podcast wilt verwijderen?"
        if (confirm(text) == true) {
            conbtn2.click();
        }
        else {
            console.log("test");
        }
    }
</script>
