@model RockstarsIT.Models.Podcast

@{
    ViewData["Title"] = "Edit";
}

<h1 class="mt-3">PODCAST BEWERKEN</h1>

<h4>Podcast</h4>
<hr />
<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row g-3">
        <div class="col-md-6 mb-3">
            <label asp-for="Titel" class="control-label" lang="nl">Titel</label>
            <label asp-for="Titel" class="control-label" lang="en-uk">Title</label>
            <input asp-for="Titel" class="form-control"/>
            <span asp-validation-for="Titel" class="text-danger"></span>
        </div>
        <div class="col-md-6 mb-3">
            <label asp-for="Omschrijving" class="control-label" lang="nl">Beschrijving</label>
            <label asp-for="Omschrijving" class="control-label" lang="en-uk">Description</label>
            <input asp-for="Omschrijving" class="form-control"/>
            <span asp-validation-for="Omschrijving" class="text-danger"></span>
        </div>
        <div class="col-md-6 mb-3">
            <label asp-for="URL" class="control-label">URL</label>
            <input asp-for="URL" class="form-control"/>
            <span asp-validation-for="URL" class="text-danger"></span>
        </div>
        <div class="col-md-6 mb-3">
            <label asp-for="Auteur" class="control-label" lang="nl">Auteur</label>
            <label asp-for="Auteur" class="control-label" lang="en-uk">Author</label>
            <select asp-for="RockstarId" class="form-control" asp-items="ViewBag.RockstarNames"></select>
            <span asp-validation-for="RockstarId" class="text-danger"></span>
        </div>
        <div class="col-md-6 mb-3">
            <label asp-for="Tribe" class="control-label">Tribe</label>
            <select asp-for="TribeId" class="form-control" asp-items="ViewBag.TribeNames"></select>
            <span asp-validation-for="TribeId" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <button class="btn button" type="submit" lang="nl">
                WIJZIGINGEN OPSLAAN
                <svg class="arrowsSvg" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
                    <path d="M0 0h24v24H0z" fill="none"/>
                    <path d="M4 18l8.5-6L4 6v12zm9-12v12l8.5-6L13 6z"/>
                </svg>
            </button>
            <button class="btn button" type="submit" lang="en-uk">
                SAVE CHANGES
                <svg class="arrowsSvg" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
                    <path d="M0 0h24v24H0z" fill="none"/>
                    <path d="M4 18l8.5-6L4 6v12zm9-12v12l8.5-6L13 6z"/>
                </svg>
            </button>
        </div>
    </div>
</form>

<div>
    <a asp-action="Details" asp-route-id="@Model.PodcastId" class="btn button mr-2 mt-3">
        DETAILS
        <svg class="arrowsSvg" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
            <path d="M0 0h24v24H0z" fill="none" />
            <path d="M4 18l8.5-6L4 6v12zm9-12v12l8.5-6L13 6z" />
        </svg>
    </a>
    <a asp-action="Index" class="btn button-cancel mt-3">
        TERUG NAAR OVERZICHT
        <svg class="arrowsSvg-cancel" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
            <path d="M0 0h24v24H0z" fill="none"/>
            <path d="M4 18l8.5-6L4 6v12zm9-12v12l8.5-6L13 6z"/>
        </svg>
    </a>
</div>

