@{
    ViewData["Title"] = "Button Page";
}

<div class="text-center">
    <a href="https://stichtingfontys-my.sharepoint.com/personal/497540_student_fontys_nl/_layouts/15/onedrive.aspx?id=%2Fpersonal%2F497540%5Fstudent%5Ffontys%5Fnl%2FDocuments%2FS2%20Proftaakgroep%204%2FRockstars%20Stylekit%2FHuisstijl%2FHuisstijl%2FStyleguide%2Fstyleguide%5F1%20interactive%20elements%2Epng&parent=%2Fpersonal%2F497540%5Fstudent%5Ffontys%5Fnl%2FDocuments%2FS2%20Proftaakgroep%204%2FRockstars%20Stylekit%2FHuisstijl%2FHuisstijl%2FStyleguide">Stylesheet link</a>
    <br />
    <hr />

    <h2 class="font-weight-bold">Buttons</h2>
    <hr />
<pre>
Button Class: btn button 
SVG Class: arrowsSvg
</pre>
    <button class="btn button" type="submit">
        button ( button )
        <svg class="arrowsSvg" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
            <path d="M0 0h24v24H0z" fill="none" />
            <path d="M4 18l8.5-6L4 6v12zm9-12v12l8.5-6L13 6z" />
        </svg>
    </button>

    <a class="btn button" asp-action="buttons">
        button ( a )
        <svg class="arrowsSvg" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
            <path d="M0 0h24v24H0z" fill="none" />
            <path d="M4 18l8.5-6L4 6v12zm9-12v12l8.5-6L13 6z" />
        </svg>
    </a>

    <br />
    <br />

<pre>
Button Class: btn button-cancel
SVG Class: arrowsSvg-cancel
</pre>

    <button class="btn button-cancel" type="submit">
        button ( button )
        <svg class="arrowsSvg-cancel" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
            <path d="M0 0h24v24H0z" fill="none" />
            <path d="M4 18l8.5-6L4 6v12zm9-12v12l8.5-6L13 6z" />
        </svg>
    </button>

    <a class="btn button-cancel" asp-action="buttons">
        button-cancel ( a )
        <svg class="arrowsSvg-cancel" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
            <path d="M0 0h24v24H0z" fill="none" />
            <path d="M4 18l8.5-6L4 6v12zm9-12v12l8.5-6L13 6z" />
        </svg>
    </a>


    <br />
    <br />
    <hr />

    <h2 class="font-weight-bold">Forms</h2>
    <hr />
    <br />

    <pre>Class: textbox</pre>
    <input placeholder="Text Input" class="textbox" />

    <br /><br />

</div>
