@{
    ViewData["Title"] = "Artikelen";
}

<h1>@ViewData["Title"]</h1>
<div class="card-deck">
    \<div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        <div class="card-footer">
            <a class="btn btn-danger" style="color:white"><i class="bi bi-trash"> Verwijderen</i></a>
            <a class="btn btn-warning" style="color:white"><i class="bi bi-pencil-square"> Aanpassen</i></a>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>
        <div class="card-footer">
            <a class="btn btn-danger" style="color:white"><i class="bi bi-trash"> Verwijderen</i></a>
            <a class="btn btn-warning" style="color:white"><i class="bi bi-pencil-square"> Aanpassen</i></a>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        </div>
        <div class="card-footer">
            <a class="btn btn-danger" style="color:white"><i class="bi bi-trash"> Verwijderen</i></a>
            <a class="btn btn-warning" style="color:white"><i class="bi bi-pencil-square"> Aanpassen</i></a>
        </div>
    </div>
</div>