@model RockstarsIT.Models.Video

@{
    ViewData["Title"] = "Translate Video";
}

<h1 class="mt-3">Video Vertalen</h1>

@using (Html.BeginForm(FormMethod.Post))
{
    <div class="row">
        <div class="col-md-6 mb-3">
            <div class="form-group">
                <input type="hidden" asp-for="VideoId" />
                <label class="control-label">Taal</label>
                <select class="form-control" id="languagedropdown" asp-items="ViewBag.Languages"></select>
            </div>
            <div class="form-group">
                <label class="control-label">Titel</label>
                <input type="text" class="textbox w-100" id="title" disabled>
            </div>
            <div class="form-group">
                <label class="control-label">Beschrijving</label>
                <textarea class="textbox w-100" id="description" rows="5" disabled></textarea>
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <div class="form-group">
                <label class="control-label">Taal</label>
                <select class="form-control" id="TranslateLanguageDropDown" name="LanguageId" asp-items="ViewBag.Languages"></select>
            </div>
            <input type="hidden" id="videoContentId" name="VideoContentId">
            <div class="form-group">
                <label class="control-label">Titel</label>
                <input id="titleTranslate" class="textbox w-100" name="Title"/>
            </div>
            <div class="form-group">
                <label class="control-label">Beschrijving</label>
                <textarea class="textbox w-100" id="descriptionTranslate" rows="5" name="Description"></textarea>
            </div>
        </div>
    </div>
    <div>
     
        <a asp-action="Edit" asp-route-id="@Model.VideoId" class="btn button-cancel ml-3 mt-3">
            TERUG NAAR VIDEO BEWERKEN
            <svg class="arrowsSvg-cancel" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
                <path d="M0 0h24v24H0z" fill="none" />
                <path d="M4 18l8.5-6L4 6v12zm9-12v12l8.5-6L13 6z" />
            </svg>
        </a>
          @*  <a asp-action="Translate" asp-route-id="@Model.VideoId" class="btn button mr-2 mt-3">
                VERTALEN 
            </a> *@
        <input class="btn button mr-2 mt-3" type="submit" asp-action="Translate" asp-route-id="@Model.VideoId" value="VERTALEN"/>
    </div>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    
    <script>
        jQuery(document).ready(function() {
            //hide first option and make second option selected
            $('#TranslateLanguageDropDown').find('option').first().hide(); 
            $('#TranslateLanguageDropDown option:eq(1)').attr('selected', 'selected');

            var hiddenLanguage = $('#languagedropdown option:selected').val();

            //fill content based on language
            $.ajax({  
                async: true,
                type: "GET",
                url: "/Video/GetContentWithLanguage",             
                data: { id: $('#VideoId').val(), languageId: $('#languagedropdown option:selected').val() },
                success: function (response) {  
                    if (response.Success) {
                        $('#title').val(response.Title);
                        $('#description').val(response.Description);
                    }
                },  
                error: function (response) { 
                    alert("failed to get article content");  
                }  
            });  

            $.ajax({  
                async: true,
                type: "GET",
                url: "/Video/GetContentWithLanguage",             
                data: { id: $('#VideoId').val(), languageId: $('#TranslateLanguageDropDown option:selected').val() },
                success: function (response) {  
                    if (response.Success) {
                        $('#titleTranslate').val(response.Title);
                        $('#descriptionTranslate').val(response.Description);
                        $('#videoContentId').val(response.VideoContentId);
                    }
                },  
                error: function (response) { 
                    alert("failed to get article content");  
                }  
            });  

            $("#languagedropdown").change(function () {
                var selectedLanguage = $('#languagedropdown option:selected').val();

                $("#TranslateLanguageDropDown option[value=" + selectedLanguage + "]").hide();
                $("#TranslateLanguageDropDown option[value=" + hiddenLanguage + "]").show();
                $("#TranslateLanguageDropDown").val($('#TranslateLanguageDropDown option:not([style*="display: none"])').val());
                hiddenLanguage = $('#languagedropdown option:selected').val();

                // change first section with selected language
                $.ajax({  
                    async: true,
                    type: "GET",
                    url: "/Video/GetContentWithLanguage",             
                    data: { id: $('#VideoId').val(), languageId: selectedLanguage },
                    success: function (response) {  
                        if (response.Success) {
                            $('#title').val(response.Title);
                            $('#description').val(response.Description);
                        }
                    },  
                    error: function (response) { 
                        alert("failed to get article content");  
                    }  
                });  

                 $.ajax({  
                    async: true,
                    type: "GET",
                    url: "/Video/GetContentWithLanguage",             
                    data: { id: $('#VideoId').val(), languageId: $('#TranslateLanguageDropDown option:selected').val() },
                    success: function (response) {  
                        if (response.Success) {
                            $('#titleTranslate').val(response.Title);
                            $('#descriptionTranslate').val(response.Description);
                            $('#videoContentId').val(response.VideoContentId);
                        }
                    },  
                    error: function (response) { 
                        alert("failed to get article content");  
                    }  
                });  
            });

            $("#TranslateLanguageDropDown").change(function () {
                var selectedLanguage = $('#TranslateLanguageDropDown option:selected').val();

                // change second section with selected language
                $.ajax({  
                    async: true,
                    type: "GET",
                    url: "/Video/GetContentWithLanguage",             
                    data: { id: $('#VideoId').val(), languageId: selectedLanguage },
                    success: function (response) {  
                        if (response.Success) {
                            $('#titleTranslate').val(response.Title);
                            $('#descriptionTranslate').val(response.Description);
                            $('#VideoContentId').val(response.VideoContentId);
                        }
                    },  
                    error: function (response) { 
                        alert("failed to get article content");  
                    }  
                });  
            });
        });
    </script>
}