/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
@font-face {
    font-family: "Rockstars";
    src: url(../font/DIN2014-Regular.ttf);
}
:root {
    --mainColor: #FFE000;
}


a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    font-family: Rockstars;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}


/* eigen styles */

.textbox {
    background-color: #F7F7F7;
    outline: none;
    border: none;
    border-color: dimgray;
    border-bottom: 1px solid dimgray;
    font-size: 14px;
    height: 47px;
    padding-left: 10px;
}

.textarea {
    background-color: #F7F7F7;
    outline: none;
    border: none;
    border-color: dimgray;
    border-bottom: 1px solid dimgray;
    font-size: 14px;
    padding-left: 10px;
}

    .textbox:hover {
        border-bottom: 2px solid dimgray;
    }

    .textbox:focus {
        border-bottom: 2px solid dimgray;
    }

    .textbox:invalid {
        border-bottom: 2px solid red;
    }
    a:hover{
        text-decoration: none;
    }
/* normale button */
.button {
    background-color: var(--mainColor);
    padding: 10px 24px;
    color: #000000;
    font-weight: bold;
    border: 0px;
    font-size: 14px;

}
.button:hover {
    color: black;
}

.arrowsSvg {
    margin-bottom: 3px;
    margin-left: 6px;
    transition: .2s;
}

/* cancel button */
.button-cancel {
    background-color: black;
    padding: 10px 24px;
    color: white;
    font-weight: bold;
    border: 0px;
    font-size: 14px;
}

.button-cancel:hover {
    color: white;
}

.arrowsSvg-cancel {
    margin-bottom: 3px;
    margin-left: 6px;
    fill: white;
 
}

.form-control {
    border-radius: 0px !important;
    
}


textarea:focus, input:focus {
    outline: none !important;
    -webkit-appearance: none;
    box-shadow: none !important;
    border-bottom: 2px solid dimgray !important;
}

